p.card, a.card {
    font-size: 1.5em;
}

h1.card {
    font-size: 2.5em;
}

#main h1, #main h2, #main h3, nav a {
    text-shadow: .1em, .1em;
}

#main h1 {
    size: 1.75em;
    text-align: center;
}

#main p {
    size: 1.15em;
}

/****************************************************/

header {
    margin: 15%;
    padding: 5%;
    border: 1em double black;
    background-color: white;
}

.toprow {
    line-height: 0em;
}

.middlerow {
    text-align: center;
    margin: 10%;
}

.toprow .header-grid-layout {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "left-side right-side-top"
        "left-side right-side-bottom";
    
}

.left-side{
    grid-area: left-side;
    position: relative;
    display: inline-block;
    width: 50%;
}

.right-side-top {
    grid-area: right-side-top;
    position: relative;
    text-align: right;
    display: inline-block;
    width: 49.5%;
}

.right-side-bottom {
    grid-area: right-side-bottom;
    position: relative;
    text-align: right;
}

.bottomrow {
    text-align: center;
}

#main h2 {
    size: 1.55em; 
    text-align: center;
}

#main h3 {
    size: 1.35em;
    text-align: center;
}

section {
    background-color: white;
    border: .5em double var(--ivoryBlack);
}

main {
    color: var(--ivoryBlack);
}

li {
    margin: 5%;
}

.grid-layout {
    display: grid;
    align-content: center;
    grid-template-columns: 65% 35%;
    grid-template-areas:
        "introduction introduction"
        "aboutMe img-section";
    font-size: 1.3em;
}

.introduction {
    grid-area: introduction;
    position: relative;
}

.img-section {
    grid-area: img-section;
    position: relative;
    text-align: center;
    background-color: var(--goldLeaf);
}

.img-section img {
    max-width: 100%;
    width: 75%;
    margin-top: 30%;
    border-radius: 5%;
    border: .15em solid black;
}

.img-section figcaption {
    color: white;
    font-size: 1.2em;
    margin: 10%;
    overflow-wrap:  break-word;
    padding: 10%;
}

.img-div {
    width: 100%;
    height: 100%;
}

.aboutMe {
    grid-area: aboutMe;
    position: relative;
}

section {
    line-height: 1.5em; 
}