/*Deals with font in the "business card" */
@font-face {
    font-family: Copperplate-Gothic;
    src: url("fonts/copperplate-gothic-font.ttf");

    font-family: Garamond-Classico-SC;
    src: url("fonts/garamond-classico-sc.ttf");
}

.card {
    font-family: "Garamond-Classico-SC", "Copperplate-Gothic", "Sans-Serif";
    font-weight: bold;
    color: var(--ivoryBlack);
}

p.card, a.card {
    font-size: 1.5em;
}

h1.card {
    font-size: 2.5em;
}
/****************************************************/

.arrow {
    border: solid var(--goldLeaf);
    border-width: 0 1em 1em 0;
    display: inline-block;
    padding: 1%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

/*Edit this to look better*/
nav a:hover {
    
    transform: scale(1.15, 1.15);
    border: .1em solid white;
    background-color: var(--skyBlue);
    color: var(--goldLeaf);
    font-weight: bold;
}

.paper-background {
    background-image: url("../images/paper_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin: 15%;
    padding: 5%;
    border: 1em double black;
    background-color: white;
}

.toprow {
    line-height: 0em;
}

.middlerow {
    text-align: center;
    margin: 10%;
}

.toprow .header-grid-layout {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "left-side right-side-top"
        "left-side right-side-bottom";
    
}

.left-side{
    grid-area: left-side;
    position: relative;
    display: inline-block;
    width: 50%;
}

.right-side-top {
    grid-area: right-side-top;
    position: relative;
    text-align: right;
    display: inline-block;
    width: 49.5%;
}

.right-side-bottom {
    grid-area: right-side-bottom;
    position: relative;
    text-align: right;
}

.bottomrow {
    text-align: center;
}

.grid-layout {
    display: grid;
    align-content: center;
    grid-template-columns: 65% 35%;
    grid-template-areas:
        "introduction img-section"
        "aboutMe img-section";
    font-size: 1.3em;
}

.introduction {
    grid-area: introduction;
    position: relative;
    margin: var(--defaultMargins);
    
}

.img-section {
    grid-area: img-section;
    position: relative;
    text-align: center;
    margin: 30% 10% 30% 10%;
    
}

.img-section img {
    max-width: 100%;
    width: 75%;
    margin-top: 30%;
    height: auto;
    border-radius: 5%;
    border: .1em single var(--ivoryBlack);
}

.img-section figcaption {
    color: white;
    font-size: 1.2em;
    margin: 10%;
    overflow-wrap:  break-word;
    padding: 10%;
}

.img-div {
    width: 100%;
    height: 100%;
  }

.aboutMe {
    grid-area: aboutMe;
    position: relative;
    margin: var(--defaultMargins);
}





