:root {
    --defaultMargins: 2%;
    --defaultPadding: 2%;
}

body {
    margin: 0%;
    padding: 0%;
    width: 75%;
}

.inline, .inline-block {
    display: "block"
}

.right, .left {
    float: none;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.15em;
}

h4 {
    font-size: 1.1em;
}

p, a, li {
    font-size: 1em;
}

h1, h2, h3, h4, p, a, li {
    overflow-wrap: break-word;
}

.socials {
    display: none;
}

.relevant-coursework{
    grid-area: relevant-coursework;
    position: relative;
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "section-header"
        "classes-1"
        "classes-2";
}