#main p, #main h4, #main h3, #main h2, #main h1, #main a {
    color: var(--ivoryBlack);
}

h1 {
    font-size: 2em;
    color: white;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.6em;
}

h1, h2, h3, h4 {
    font-family: "Garamond-Classico-SC", "Sans-Serif";
}

p, a {
    font-size: 1.6em;
}

.classes ul {
    font-size: 1.35em;
}

a:hover {
    color: var(--goldLeaf);
    font-weight: bold;
}

main {
    color: black;
    border: .25em solid black;
    background-color: white;
    font-family: "Copperplate-Gothic", "Sans-Serif";
    border: .5em double var(--ivoryBlack);
}

.address {
    display: inline;
}

section {
    border: none;
    margin-bottom: -2%;
    padding: 0%;
}


.resume-background {
    /*Change background image*/
    background-image: url("../images/paper_background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.grid-layout {
    display: grid;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-areas:
        "section-header"
        "objective"
        "education"
        "experience"
        "skills"
        "relevant-coursework"
        "projects";
}

.section-header {
    grid-area: section-header;
    position: relative;
}

.line {
    background-color: black;
    padding: 0.1%;
    margin: 1% 0% 1% 0%;
}

.education {
    grid-area: education;
    position: relative;
}

.objective {
    grid-area: objective;
    position: relative;
}

.skills {
    grid-area: skills;
    position: relative;
}

experience {
    grid-area: experience;
    position: relative;

    display: grid;
    align-content: center;
    grid-template-columns: 65% 35%;
    grid-template-areas:
        "section-header section-header"
        "it-internship it-internship";
    font-size: 1.3em;
}

.it-internship { 
    grid-area: it-internship;
    position: relative;
}

.relevant-coursework{
    grid-area: relevant-coursework;
    position: relative;
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "section-header section-header"
        "classes classes";
}

.classes { 
    grid-area: classes;
    position: relative;
}

.projects {
    grid-area: projects;
    position: relative;
    display: grid;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-areas:
        "section-header"
        "projects";
}

.projects { 
    grid-area: projects;
    position: relative;
    margin-bottom: 2%;
}
