html {
    background-color: navy;
    opacity: 0.75;
}

h1, h2, h3 {
    color: white;
    text-shadow: .1em, .1em;
}

h1 {
    size: 1.75em;
}

h2 {
    size: 1.55em; 
}

h3 {
    size: 1.35em;
}

p {
    color: white;
    size: 1.15em;
}

